.drop-down {
  padding: 8rem 3rem;
}
.img-stream {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.img-stream img {
  height: 7rem;
}
.img-stream p {
  width: 340px;
  font-size: 1.5rem;
  line-height: 1.3;
}
.database-text h3 {
  margin-bottom: 1rem;
}
